@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
* {
  box-sizing: border-box;
}

.container {
  border-radius: 0.375rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

bg-opacity-10 {
  --bg-opacity: 0.1;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding-left: 8px;
  padding-top: 1rem;
  padding-right: 8px;
  resize: vertical;
  height: 100%;
  border-radius: 5px;
  font-family: "Space Grotesk", sans-serif;
  background: rgba(255, 187, 255, var(--bg-opacity)) !important;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background: #2c665d;
  color: white;
  padding: 10px 26px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
}

input[type="submit"]:hover {
  background: #2c665d;
}

.kcontainer {
  margin: 15% auto;
  border-radius: 10px;
  background-color: #ffffff;
  width: 40%;
  font-family: "Space Grotesk";
}

.lc-pad {
  padding-left: 0;
}

.rt-text {
  text-align: right;
}

.fd-container {
  margin: 10px;
}

.class-back {
  background: #ffffff;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  padding: 10px 26px;
  font-family: "Space Grotesk", sans-serif;
}

.klabel {
  position: absolute;
  color: #2a2a2a;
  margin: 4px 10px;
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
}

.ct-text {
  text-align: center;
  align-content: center;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.krow-border {
  background: #ffffff;
  box-shadow: 0px 1px 0px #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.krow-border-top {
  background: #ffffff;
  padding: 8px;
  border-top: 1px solid #ebebeb;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.rt-mar {
  margin-top: 0.6em;
}

.rt-sm-mar {
  margin-right: 0.4em;
}

.col-33 {
  float: left;
  width: 33%;
  margin-top: 6px;
  font-family: "Space Grotesk";
}

.col-100 {
  float: left;
  width: 100%;
  margin-top: 6px;
}

form {
  width: 100%;
}

.col-50 {
  float: left;
  width: 49%;
  margin-top: 6px;
}

.kbtn-group {
  display: flex;
  margin-top: 0.25rem;
  margin-left: 1rem;
  justify-content: flex-end;
}

/* Clear floats after the columns */
.krow:after {
  content: "";
  display: table;
  clear: both;
}

.holder {
  height: 55px;
  box-sizing: border-box;
  background: rgba(255, 187, 255, 0.1);
  border: 1px solid #ffbbff;
  border-radius: 5px;
  outline: none;
}

.otp-box {
  box-sizing: border-box;
  padding: 0 1rem;
  border-color: #ffbbff;
  background: rgba(255, 187, 255, 0.1);
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.otp-header {
  margin-top: 2rem;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}

.otp-box .input-props {
  box-shadow: none;
  outline: 1px none transparent;
  background: rgba(255, 187, 255, 0.1);
  margin-left: 15px;
  border-radius: none;
  border-bottom: 1px solid #2A2A2A;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}